{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .blog-layout {
  margin:0;
  width:100%;
  min-height: 100vh;
  font-family: 'Open Sans';
  background:#272828;
  justify-content:center;
  align-items:center;
  }
}

  #about{
    padding-top: 98px;
    padding-bottom: 101px;
  }

  #about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;


  }

  #about .triangle-right img{
    position: absolute;
    left: -1px;
    top: 81px;
    width: 74%;

  }

  .fa-play{
    font-size: 100px;

  }


  #about .p-first{
    margin-bottom: 30px;
  }


  #about h2{
    margin-bottom: 47px;
    margin-top: 12px;

  }


  #about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;

  }

  #about .about-link{
    padding-left: 0px;
  }

  #about .about-link li{
    display: inline-block;
  }

  #about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d6c6b2;
    margin: 10px;
    font-size: 22px;
    color: #d6c6b2;
    transition: all .3s;

  }


  #about .about-link li a i:hover{
    color: #222222;
    background: #d6c6b2;
    border-color: #d6c6b2;

  }


  #about .about-img{
    position: relative;

  }

  #about .about-img{
    position: relative;

  }

  #about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;

  }

  .color-3{
    color:#fafafa ;
  }


  .text-white{
    color: white;
  }


  p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
  }

  .btn-danger{
    border-radius: 0;
    padding: 10px 20px;
  }
</style>
<div class="blog-layout">
  <section id="about">

	<div class="container">
		<div class="row">
		<div class="col-md-5">
		</div>
		<br>
		<div class="col-md-7 about-right">

			<h2 class="color-3"><b>About Me</b>
			</h2>
{% for i in author %}
			<p class="p-first text-white">{{i.about}}
			</p>
			<p class="text-white">
				{{i.about_me}}
			</p>
{% endfor %}
			<ul class="about-link">
				<li><a href="https://www.instagram.com/sowmiyanasokar/" target=_blank ><i class="fa fa-instagram"></i></a></li>

				<li><a href="https://www.linkedin.com/in/sowmiyan-asokar-a108b3180" target=_blank ><i class="fa fa-linkedin"></i></a></li>

				<li><a href="https://wa.link/rdvccb" target=_blank ><i class="fa fa-whatsapp"></i></a></li>


			</ul>


		</div>

		</div>
	</div>

 	</section>

</div>
{% endblock %}
